---
layout: default
title: Home
---

<main>
  <div class="row-wrap">
    <h2>
      <u class="header-underline">Latest Posts</u>
    </h3>
  </div>

  <!-- Show story posts -->
  {% for post in site.categories.story %}
  <a href="{{site.baseurl}}{{post.url}}" class="block-link">
    <article class="row-wrap post-preview">
      <h3 class="post-preview__title">{{ post.title }}</h3>
      <p class="post-preview__body">{{ post.description }}</p>
    </article>
  </a>
  {% endfor %}

  <!-- Show characters -->
  <div class="row-wrap">
    <h2>
      <u class="header-underline">Characters, Places, & Things</u>
    </h3>
  </div>

  {% for page in site.categories.wiki %}
  <a href="{{site.baseurl}}{{page.url}}" class="block-link">
    <article class="row-wrap post-preview">
      <h3 class="post-preview__title">{{ page.title }}</h3>
      <p class="post-preview__body">{{ page.description }}</p>
    </article>
  </a>
  {% endfor %}

</main>